{
  "tabWidth": 2,
  "semi": true,
  "jsxBracketSameLine": true,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "trailingComma": "all",
  "arrowParens": "avoid",
  "printWidth": 120
}
